.secret_container {
    position: fixed;
    background: whitesmoke;
    border: 4px outset teal;
    border-radius: 30%;
    padding: 40px 20px;
    width: 99%;
    max-width: 700px;
    text-align: center;
    font-size: 1.35rem;
    box-shadow: 1px 1px 100px 10px lightgrey;
}

.secret_container button {
    font-size: 1.1rem;
    background: azure;
    min-width: 79px;
    min-height: 33px;
    padding: 5px 15px;
    margin: 5px 15px 0;
    border-radius: 5px;
    border: 2px solid teal;
    box-shadow: 0 3px 5px 2px lightgrey;
    cursor: pointer;
    transition: all 0.3s;
}

.secret_container button:hover {
    box-shadow: none;
    background: lightcyan;
    transform: translateY(2px);
}

.secret_container h1 {
    margin-bottom: 25px;
}

.secret_container p {
    margin-top: 10px;
}

.link {
    display: inline-block;
    margin-bottom: 5px;
}

.secret-in .sec-ico {
    position: absolute;
    font-size: 1.5rem !important;
    right: 15%;
    color: coral;
    cursor: pointer;
    transition: all 0.2s;
}

.secret-in .sec-ico:hover {
    transform: scale(1.1);
    color: orangered;
}

.secret-wrong {
    box-shadow: 1px 1px 25px -5px red !important;
}